name: Stage deploy

on:
  push:
    branches: # Build image, push tags latest/stage, deploy to stage
      - main
    tags: # Build image, push tags v0.X/prod, deploy to prod
      - "*"

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Testing
        id: changes
        env:
          # Set the GH_TOKEN environment variable for the gh CLI to use
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $(gh release list)
          echo "Hello world"
          
