name: Stage deploy

on:
  push:
    branches: # Build image, push tags latest/stage, deploy to stage
      - main
  release:
    types: [published]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Testing
        id: changes
        env:
          # Set the GH_TOKEN environment variable for the gh CLI to use
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo ${{ github.event_name }}
          echo $(gh release list --limit 1 --exclude-drafts --exclude-pre-releases --json tagName | jq ".[0].tagName" )
          echo "Hello world"
          
